.comment-container {
    display: grid;
    grid-template-columns: 2em auto;    
    padding-top: 0.5em;
}

.comment-text {
    padding: 0em 1em 0.5em 0;
    word-break: break-all;
}

.upvotes {
    padding: 0 0.5em 0.5em 0.5em;
    font-size : small;
    text-align: center;
    word-wrap: break-word;
}

.vl {
    margin-left: 1em;
    border-left: 0.2em solid rgba(128, 128, 128, 0.397);
    height: calc(100% - 1.5em);
}

.comment-header {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px 0;
    font-size: small;
    font-weight: lighter;
}

.continue-to-thread {
    grid-column: 1/3;
    // text-align: center;
    max-width: 185px;;
    color: rgb(0, 153, 255);
    padding: 0 1em;
    font-weight: bolder;
    font-size: small;
    margin: 0 1em;
}

.continue-to-thread:hover {
    background-color: rgb(0, 153, 255);
    color: #fff;
}

.comments-more {
    grid-column: 1/3;
}