<div class="comment-container">
    <div *ngIf="comment.author">
        <div class="upvotes">{{ comment.score }}</div>
        <div class="vl"></div>
    </div>
    <div *ngIf="comment.author">
        <div class="comment-header">Posted by {{ comment.author }} on {{ comment.created * 1000 | date }}</div>
        <div class="comment-text" [innerHTML]="comment.body | marked"></div>
        <app-comment *ngFor="let comment of replies" [comment]="comment" [permalink]='permalink'></app-comment>
    </div>
    <div *ngIf="kind === 'more'" class="continue-to-thread" (click)="fetchMoreComments()">Continue to this thread -></div>
    <div *ngIf="extraComments">
        <div class="comments-more">
            <app-comment [comment]="extraComments" [permalink]='permalink'></app-comment>
        </div>
    </div>
</div>
