@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 5px 1px rgb(0,0,0,0.01);
  color: #222222;
  font-weight: 600;
  z-index: 2;
}

.toolbar img {
  margin: 0 16px;
}

.container.wrapper {
  background-color: #DAE0E6;
  min-height: 100vh;
}

@media (max-width: 700px) {
  .container.main {
    width: 100vw;
    margin: 0 auto;
    justify-items: center;

  }

}
  