@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.spacer {
    flex: 1;
  }
  
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 5px 1px rgb(0,0,0,0.01);
    color: #222222;
    font-weight: 600;
  }
  
  .toolbar img {
    margin: 0 16px;
  }
  
  .container.wrapper {
    background-color: #DAE0E6;
    min-height: 100vh;
  }

  .container.main {
    max-width: 1200px;
    margin: 50px auto 32px;
    padding: 1em 0;
}
  