<div class="post-item-shimmer">
    <div class="shimmer shine post-item-shimmer__score"></div>
    <div class="post-content">
        <div class="shimmer shine post-item-shimmer__author">
            <div></div>
            <div class="shimmer shine post-item-shimmer__subreddit"></div>
        </div>
        <div class="post-text">
            <div class="shimmer shine post-item-shimmer__title"></div>
            <div class="shimmer shine post-item-shimmer__selftext"></div>
        </div>
        <div class="shimmer shine post-item-shimmer__img"></div>
        <div class="shimmer shine post-item-shimmer__comments"></div>
    </div>

</div>
