.thread-overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  max-width:100vw;
//   width: 100%; /* Full width (cover the whole page) */
  height: 100%;
  overflow: auto;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
//   cursor: pointer; /* Add a pointer on hover */
}

.thread-main {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin: 0 auto;
    // min-height: 100vh;
    background-color: #D7DADC;
    padding-bottom: 5em;
}

.thread-wrapper {
    display: grid;
    grid-template-columns: 3em auto;
    border-radius: 5px;
    // max-width: 640px;s
    margin: 2em;
    background-color: #FFFFFF;
}

.thread-navbar {
    position: sticky;
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: 0;
    left: 0;
    right: 0;
    min-height: 50px;
    background-color: #222;
    color:#D7DADC;
}

.thread-close {
    display: grid;
    justify-items: end;
}

.thread-navbar > div {
    padding: 1em;
}

.thread-container {
    padding-right: 1em;
    word-break: break-all;
}

.upvotes {
    padding: 1em 0.5em 0 0.5em;
    text-align: center;
    word-wrap: break-word;
}

.bottom-line {
    margin-bottom: 3em;
    width: 90%;
    opacity: 0.4;
    text-align: center;
    grid-column: 1/3;
}

.comments-wrapper {
    grid-column: 1/3;
    max-width: 100vw;
    padding-bottom: 2em;
}

.post-title {
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em 0;
}

.post-header {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px 0;
    font-size: 0.8em;
    font-weight: lighter;
}

.subreddit {
    font-weight: bold;
}

@media (max-width: 600px) {
    .thread-overlay {
        min-width: 100vw;
    }

    .thread-wrapper {
        margin: 2em 0;
    }

    .thread-navbar {
        grid-template-columns: 3fr 1fr;
    }

    .upvotes {
        display: none;
    }

    .thread-wrapper {
        grid-template-columns: 1fr;
    }

    .post-wrapper {
        padding-left: 1em;
    }
}