<app-thread *ngIf="showThread" (showThread)="closeThread($event)" [permalink]='permalink'></app-thread>
<div class="subreddit-navbar">
    <div class="subreddit-container">
        <div *ngIf="posts[0]" class="subreddit-title">{{ posts[0].data.subreddit | titlecase }}</div>
        <div *ngIf="posts[0]" class="subreddit-subtext">r/{{ posts[0].data.subreddit }} </div>
    </div>
</div>
<div class="posts-wrapper">
    <!-- <button (click)="onChangeLimit()">Test</button> -->
    <div class="posts-forms">
        <mat-form-field appearance="fill">
            <mat-label>Posts displayed</mat-label>
            <mat-select [(value)]="limit">
              <mat-option (click)="onChangeLimit()" value="5">5</mat-option>
              <mat-option (click)="onChangeLimit()" value="10">10</mat-option>
              <mat-option (click)="onChangeLimit()" value="25">25</mat-option>
            </mat-select>
        </mat-form-field>
        <div></div>
        <mat-form-field appearance="fill">
            <mat-label>Search subreddit to view</mat-label>
            <input matInput placeholder="Ex. Technology" #subreddit placeholder="Photography" (keydown.enter)="passSubreddit(subreddit.value)">
        </mat-form-field>
    </div>
    
    <div class="grid" *ngIf="isFirstLoad">
        <app-post-item-shimmer *ngFor="let postItemShimmer of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"></app-post-item-shimmer>
    </div>

    
    <div class="grid" *ngIf="!isFirstLoad">
        <app-post-item *ngFor="let post of posts" 
        [score]="post.score"
        [author]="post.author"
        [subreddit]="post.subreddit"
        [title]="post.title"
        [selftext]="post.selftext"
        [thumbnail]="post.thumbnail"
        [created]="post.created"
        [numComments]="post.num_cumments"
        [link]="post.permalink"
        (permalink)="fetchThread($event)"></app-post-item>
    </div>



    <div class="page-buttons">
        <span (click)="fetchBefore()" class="material-icons">arrow_back</span>
        <!-- <button *ngIf="before != 'first'"  class="prev">Previous</button> -->
        <div></div>
        <span (click)="fetchAfter()" class="material-icons forward">arrow_forward</span>
        <!-- <button (click)="fetchAfter()" class="next">Next</button> -->
    </div>
</div>
