.posts-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 640px;
    grid-gap: 1em;
    margin-top: 2em;
}

.page-buttons {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}