.posts-container {
    height: 100%;
    overflow-y: scroll;
}

.posts-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 700px;
    grid-gap: 1em;
    margin: 3em auto 0 auto;
    // height: calc(100vh - 8em);
    // max-height: 80vh;    
}

.page-buttons {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.material-icons {
    font-size: 2em;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.mat-form-field {
    padding: 0 0 0 0!important;
}

.material-icons:hover {
    font-weight: 700; 
}

.material-icons:active {
    transform: perspective(200px) translate3d(0, 0, 20px);
}

.material-icons.forward {
    justify-self: end;
}

.posts-forms {
    display: grid;
    grid-template-columns: 1fr;
}

.posts-forms > mat-form-field {
    padding: 1em;
}

.subreddit-navbar {
    position: relative;
    width: 100%;
    top: 30px;
    height: 60px;
    background-color: #fff;
}

.subreddit-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
    margin: 0 auto;
}

.subreddit-container {
    max-width: 640px;
    // margin: 0 auto;
}

.subreddit-title {
    padding-top: 5px;
    font-weight: bold;
    font-size: 1.5em;
}

.subreddit-subtext {
    font-size: 0.8em;
}

.select-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: end;
    justify-items: end;
}

.select-grid > * {
    width: 130px;
}

@media (max-width: 350px) {
    .subreddit-grid {
        grid-template-columns: 1fr 100px;
    }

    .select-grid > * {
        width: 90px;
    }

    .subreddit-subtext {
        font-size: 0.6em;
    }
}

@media (max-width: 600px) {
    .posts-forms {
        grid-template-columns: 1fr;
    }

    .posts-forms > mat-form-field {
        padding: 0;
    }
}