<app-thread *ngIf="showThread" (showThread)="closeThread($event)" [permalink]='permalink'></app-thread>
<div class="subreddit-navbar">
    <div class="subreddit-grid">
        <div *ngIf="subreddit != undefined" class="subreddit-container">
            <div *ngIf="subreddit.length > 0" class="subreddit-title">{{ subreddit | titlecase }}</div>
            <div *ngIf="subreddit.length > 0" class="subreddit-subtext">r/{{ subreddit }} </div>

            <div *ngIf="!subreddit.length > 0" class="subreddit-title">Popular posts</div>
            <div *ngIf="!subreddit.length > 0" class="subreddit-subtext">main page of reddit</div>
        </div>
        <div class=subreddit-posts>
            <form appearance="fill" class="select-grid">
                <label class="subreddit-subtext">No. of posts</label>
                <select #mySelect (change)="onChangeLimit(mySelect.value)" [value]="10">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
            </select>
        </form>
        </div>
    </div>
</div>
<div class="posts-wrapper">
    <!-- <button (click)="onChangeLimit()">Test</button> -->
    <div class="posts-forms">
        <mat-form-field  class="custom-search" appearance="fill">
            <mat-label>Search subreddit to view</mat-label>
            <input matInput placeholder="Ex. Technology" #subreddit placeholder="Photography" (keydown.enter)="passSubreddit(subreddit.value)">
        </mat-form-field>
        
    </div>
    <app-post-item *ngFor="let post of posts" [post]='post' (permalink)="fetchThread($event)"></app-post-item>
    <div class="page-buttons">
        <span (click)="fetchBefore()" class="material-icons">arrow_back</span>
        <!-- <button *ngIf="before != 'first'"  class="prev">Previous</button> -->
        <div></div>
        <span (click)="fetchAfter()" class="material-icons forward">arrow_forward</span>
        <!-- <button (click)="fetchAfter()" class="next">Next</button> -->
    </div>
</div>
