<div class="thread-overlay">
    <div class="thread-main">
        <div class="thread-navbar">
            <div>
                Some info
                <button (click)="closeThread()">Close</button>
            </div>
        </div>
        <div class="thread-wrapper">
            <div class="upvotes">U</div>
            <div>
                <div class="post-header">
                    <div><span class="subreddit">r/{{ post.subreddit }}</span>  Posted by {{ post.author }} on {{ post.created * 1000 | date }}</div>
                </div>
                <div>
                    <div class="post-title">{{ post.title }}</div>
                    <div *ngIf="post" class="thread-container" [innerHTML]="post.selftext | marked"></div>
                </div>
            </div>
            <hr class="bottom-line">
            <div></div>
            <div class="comment-container">
                <app-comment *ngFor="let comment of comments" [comment]="comment" ></app-comment>

            </div>
        </div>
    </div>
</div>